* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

#topo {
    background-image: url("./img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;
}

#topo-sub-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#topo-sub-1>div {
    display: flex;
    justify-content: end;
    gap: 1.5rem;
}